<body
  style="
    background-image: url(https://images.unsplash.com/photo-1637203727317-3cc1a557cdbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHRyb3BoeXxlbnwwfHwwfHw%3D&w=1000&q=80);
    height: 600px;
  "
>
  <div class="container">
    <p
      style="
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        font-size: large;
        font-style: italic;
        color: black;
      "
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
      libero dicta numquam deleniti odit assumenda ea architecto nemo quasi
      beatae, rem fuga, voluptatum fugit nisi sunt animi, minus molestias et
      natus quae dolore quisquam quos similique in. Debitis provident, adipisci
      excepturi iure dolores ipsam, vero ipsa quae reiciendis harum laboriosam
      eligendi consequatur ex quis nam temporibus molestias animi deserunt? Iure
      consequatur dolore eos quam! Nostrum, distinctio tempore. Provident facere
      vel error, amet odio voluptatibus, quasi earum, assumenda autem nemo
      veniam vitae. Cumque eum corrupti a earum consectetur nihil doloribus illo
      dicta doloremque, quibusdam sit quis dolores provident nulla vitae tenetur
      ea, repudiandae numquam eligendi possimus ipsam! Dolore neque repellat
      iusto! Earum delectus quo, ipsam quod eos nulla veritatis vero quam,
      eligendi harum maiores sit ab veniam dicta eum saepe! Cum error illum esse
      impedit, consequuntur earum? Cumque quis dolor cupiditate impedit?
      Commodi, doloremque nobis officia hic, libero labore velit at quisquam
      perspiciatis natus, dolore ut voluptatum molestiae nisi pariatur a
      corporis rerum consequatur. Doloribus eaque at porro tempora voluptatum
      quia dolore similique possimus aliquid placeat illo assumenda optio,
      libero quas aspernatur rerum autem eligendi tempore nihil mollitia, fuga
      cupiditate inventore. Expedita dignissimos amet esse illum voluptas
      accusantium facilis error in!
    </p>
  </div>
  <router-outlet></router-outlet>
</body>
