<body
  style="
    background-image: url(https://thumbs.dreamstime.com/b/realistic-brown-mail-envelope-isolated-package-mock-up-white-background-158913055.jpg);
    background-size: 1000px;
    height: 700px;
    width: 1000px;
  "
>
  <br />
  <br />
  <br />
  <h3 style="text-align: center">Contact by :</h3>
  <br />
  <br />
  <br />
  <br />
  <h4 style="text-align: center">Name: <span>XXXXX</span></h4>
  <h4 style="text-align: center">
    Address:<span>3/788, XYZ street, XYZ city,XYZ state</span>
  </h4>
  <h4 style="text-align: center">Email:<span>XXXXX@gmail.com</span></h4>
  <h4 style="text-align: center">Phone number: <span>2345678901</span></h4>
  <br />
  <br />
  <br />
  <br />
</body>
